#suggestion-bar{
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

#suggestion-grid{
  height:90%;
  width:100%;
}

#displayed-suggestions{
  height:100%;
  width: 80%;
  /* box-sizing:border-box; */
}

.suggestion-photo{
  width: 75%;
  height: 40%;
  object-fit: cover;
}
.suggestion-item{
  width: 250px;
  height:300px;
  text-align: center;
}

.suggestion-item .MuiCardActions-root {
  justify-content: center;
  height: 10%;
} 
.suggestion-item .MuiCardHeader-root {
  height: 5%;
}
.arrow-buttons {
  top:50%;
  transform: translate(0%,-50%);
}
#suggestion-grid .MuiSvgIcon-root{
  font-size: 5rem;
}
