.test {
    background-color: blueviolet;
}

#map-component {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-color: royalblue;
}

#finalized-component {
    width: 300px;
    background-color: red;
    height: 100%;
    overflow-y: auto;
    pointer-events: auto;
    box-shadow: 1px 1px 7px gray;
}

#unfinalized-component {
    width: 300px;
    background-color: red;
    height: 100%;
    overflow-y: auto;
    pointer-events: auto;
    box-shadow: 1px 1px 7px gray;
}

#trip {
    height: 100vmin;
    position: relative;
}

.foreground {
    width: 100%;
    height: 100vmin;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#add-button-component {
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}

#add-form-container {
    height: 500px;
    width: 600px;;
}